/* Define the font face */
@font-face {
    font-family: 'BrittanySignature';
    src: url('BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply styles to the body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    background-image: url('main_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #ff66c4;
    font-size: 130px; /* Responsive font size based on viewport width */
    margin-top: 50px; /* Adjusted margin for top spacing */
    font-family: 'BrittanySignature';
    margin-bottom: 2px;
}

p {
    color: white;
    font-size: 15px; /* Adjust font size */
    font-family: 'Montserrat'; /* Apply Montserrat font family */
    margin: 10px 0; /* Add some margin for spacing */
}

/* Apply styles to the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-top: 20px; /* Adjusted margin for top spacing */
}

.rectangle {
    width: 450px;
    height: 250px;
    background-color: #ddd;
    transition: transform 0.3s;
    margin: 15px; /* Add space around each rectangle */
    margin-bottom: 50px;
    border-radius: 20px;
    background-size: cover; 
    background-position: center; 
}

.rectangle:hover {
    transform: scale(1.1); /* Make the rectangle 10% larger on hover */
    cursor: pointer;
}

.rectangle1 {
    background-image: url('LOVING.png'); 
}

.rectangle2 {
    background-image: url('EMPATHETIC.png'); 
}

.rectangle3 {
    background-image: url('TALENTED.png');
}

.row {
    display: flex;
    flex-direction: column; /* Stack the iframe and image vertically */
    justify-content: center;
    align-items: center;
    width: 100%; /* Make sure the row takes the full width */
    margin-top: 20px;
}

.video-wrapper {
    position: relative;
    width: 90%; /* Adjust width for responsiveness */
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.barbie {
    width: 90%; /* Make the image responsive */
    max-width: 450px; /* Limit the maximum width of the container to match the rectangles */
    height: auto; /* Allow the container height to adjust based on the image height */
    margin: 15px; /* Add space around the container to match the rectangles */
    border-radius: 20px; /* Apply border radius */
    overflow: hidden; /* Hide overflow for the caption */
}

.barbie img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Ensure aspect ratio is maintained */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 20px; /* Apply border radius */
}

.rolling-text {
    font-family: 'Montserrat';
    font-size: 15px;
    color: white;
    background-color: palevioletred;
    position: fixed;
    top: 0;
    right: 100%;
    white-space: nowrap;
    animation: rollToLeft 40s linear infinite;
    z-index: 999;
}

/* Define the rolling animation */
@keyframes rollToLeft {
    from {
        right: 100%;
    }
    to {
        right: -100%;
    }
}

.footer-logo {
    position: fixed;
    bottom: 10px; /* Adjust bottom position */
    left: 10px; /* Adjust left position */
    z-index: 9999; /* Ensure it's above other elements */
}

.footer-logo img {
    width: auto; /* Let the width adjust to maintain aspect ratio */
    max-height: 40px; /* Adjust max height as needed */
}

@media (min-width: 768px) {
    .row {
        flex-direction: row; /* Stack the iframe and image horizontally for larger screens */
    }
    .row iframe {
        margin-bottom: 0;
        margin-right: 15px;
    }
}
